In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,to_date, cast, year, month, lit, when, expr,  sum
from pyspark import SparkConf
import pandas as pd

In [3]:
packages = "io.delta:delta-core_2.12:2.4.0,org.apache.hadoop:hadoop-aws:3.3.4,com.amazonaws:aws-java-sdk-bundle:1.12.262"

# Chaves de acesso do MinIO
ACCESS_KEY = "minioadmin"
SECRET_KEY = "minioadmin"
MINIO_ENDPOINT = "http://localhost:9000"

conf = SparkConf() \
    .setAppName("MinIO_Connect_gold") \
    .set("spark.jars.packages", packages) \
    .set("spark.hadoop.fs.s3a.access.key", ACCESS_KEY) \
    .set("spark.hadoop.fs.s3a.secret.key", SECRET_KEY) \
    .set("spark.hadoop.fs.s3a.endpoint", MINIO_ENDPOINT) \
    .set("spark.hadoop.fs.s3a.path.style.access", "true") \
    .set("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .set("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .set("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .set("spark.sql.catalog.spark_catalog.delta_log_store.class", "org.apache.spark.sql.delta.storage.S3AFileSystemLogStore")

# Criando a sess√£o Spark
spark = SparkSession.builder \
    .config(conf=conf) \
    .getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/09/09 14:10:52 WARN Utils: Your hostname, NT005818 resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/09/09 14:10:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/home/dev-exata/Documents/projects/AirflowIndicesBrasil/venv/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/dev-exata/.ivy2/cache
The jars for the packages stored in: /home/dev-exata/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
org.apache.hadoop#hadoop-aws added as a dependency
com.amazonaws#aws-java-sdk-bundle added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-9954a9dc-e83c-41ac-abf2-e54d1c8aa921;1.0
	confs: [default]
	found io.delta#delta-core_2.12;2.4.0 in central
	found io.delta#delta-storage;2.4.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
	found org.apache.hadoop#hadoop-aws;3.3.4 in central
	found com.amazonaws#aws-java-sdk-bundle;1.12.262 in central
	found org.wildfly.openssl#wildfly-openssl;1.0.7.Final in central
:: resolution report :: resolve 300ms :: artifacts dl 21ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.12.262 from central in [default]
	io.delta#delta-core_2.12;2.4.0 from central in [default]
	io.delta#delta-storage;2.4.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	org.apache.hadoop#hadoop-aws;3.3.4 from central in [default]
	org.wildfly.openssl#wildfly-openssl;1.0.7.Final from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   6   |   0   |   0   |   0   ||   6   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-9954a9dc-e83c-41ac-abf2-e54d1c8aa921
	confs: [default]
	0 artifacts copied, 6 already retrieved (0kB/10ms)
25/09/09 14:10:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/09 14:10:55 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/09/09 14:10:55 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [5]:
df_vulnerabilidade_pobreza = spark.read.format("delta").load("s3a://datalake/silver/indices_pobreza")
df_vulnerabilidade_pobreza.toPandas()

25/09/09 14:11:43 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,REFERENCIA,PERIODO,POBREZA,EXTREMA_POBREZA,TOTAL,POPULACAO_ESTIMADA,PERCENTUAL_POBREZA,PERCENTUAL_EXTREMA_POBREZA,PERCENTUAL_VULNERABILIDADE,FAMILIAS_POBREZA,FAMILIAS_EXTREMA_POBREZA,FAMILIAS_VULNERABILIDADE,INDIGENAS_EXTREMA_POBREZA,INDIGENAS_VULNERABILIDADE,QUILOMBOLAS_POBREZA,QUILOMBOLAS_EXTREMA_POBREZA,QUILOMBOLAS_VULNERABILIDADE,CIGANOS_POBREZA,CIGANOS_EXTREMA_POBREZA,CIGANOS_VULNERABILIDADE
0,08/2012,201208,19370363,44381455,63751818,193976530,0.10,0.23,0.33,5265743,12897221,18162964,86593,100737,7927,57407,65334,119,757,876
1,09/2012,201209,19371279,44554715,63925994,193976530,0.10,0.23,0.33,5278170,13006755,18284925,87216,101373,8022,58018,66040,123,825,948
2,10/2012,201210,19376665,44652093,64028758,193976530,0.10,0.23,0.33,5288902,13076366,18365268,87397,101568,8081,58468,66549,131,888,1019
3,11/2012,201211,19381040,44723215,64104255,193976530,0.10,0.23,0.33,5298295,13131359,18429654,87697,101879,8198,59193,67391,142,925,1067
4,12/2012,201212,19392882,44684759,64077641,193976530,0.10,0.23,0.33,5311337,13161099,18472436,87820,102029,8314,60250,68564,143,978,1121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,05/2022,202205,8979446,46998630,55978076,213317639,0.04,0.22,0.26,3200245,18444762,21645007,153358,166837,11674,176426,188100,778,7495,8273
118,06/2022,202206,9042994,47268983,56311977,213317639,0.04,0.22,0.26,3236172,18764335,22000507,156599,170477,11720,179663,191383,767,7713,8480
119,07/2022,202207,9173896,47695827,56869723,213317639,0.04,0.22,0.27,3306740,19197806,22504546,161439,175902,11843,184928,196771,766,7914,8680
120,08/2022,202208,9346851,48369266,57716117,213317639,0.04,0.23,0.27,3404214,19820117,23224331,166023,181097,12148,190505,202653,798,8196,8994
121,09/2022,202209,9509943,49055941,58565884,213317639,0.04,0.23,0.27,3495077,20439159,23934236,170009,185613,12526,195070,207596,827,8534,9361

In [6]:
df_vulnerabilidade_pobreza.printSchema()

root
 |-- REFERENCIA: string (nullable = true)
 |-- PERIODO: integer (nullable = true)
 |-- POBREZA: integer (nullable = true)
 |-- EXTREMA_POBREZA: integer (nullable = true)
 |-- TOTAL: integer (nullable = true)
 |-- POPULACAO_ESTIMADA: integer (nullable = true)
 |-- PERCENTUAL_POBREZA: float (nullable = true)
 |-- PERCENTUAL_EXTREMA_POBREZA: float (nullable = true)
 |-- PERCENTUAL_VULNERABILIDADE: float (nullable = true)
 |-- FAMILIAS_POBREZA: integer (nullable = true)
 |-- FAMILIAS_EXTREMA_POBREZA: integer (nullable = true)
 |-- FAMILIAS_VULNERABILIDADE: integer (nullable = true)
 |-- INDIGENAS_EXTREMA_POBREZA: integer (nullable = true)
 |-- INDIGENAS_VULNERABILIDADE: integer (nullable = true)
 |-- QUILOMBOLAS_POBREZA: integer (nullable = true)
 |-- QUILOMBOLAS_EXTREMA_POBREZA: integer (nullable = true)
 |-- QUILOMBOLAS_VULNERABILIDADE: integer (nullable = true)
 |-- CIGANOS_POBREZA: integer (nullable = true)
 |-- CIGANOS_EXTREMA_POBREZA: integer (nullable = true)
 |-- CIGANOS_VULNERABILIDADE: integer (nullable = true)

In [7]:
df_vulnerabilidade_pobreza.createOrReplaceTempView("VULNERABILIDADE_POBREZA")

In [8]:
df_vulnerabilidade_pobreza_final = spark.sql("""
    SELECT DISTINCT
        FORMAT_NUMBER(POPULACAO_ESTIMADA,2) AS POPULACAO_ESTIMADA,
        SUM(INDIGENAS_EXTREMA_POBREZA) AS INDIGENAS_EXTREMA_POBREZA,
        SUM(QUILOMBOLAS_EXTREMA_POBREZA) AS QUILOMBOLAS_EXTREMA_POBREZA,
        SUM(CIGANOS_EXTREMA_POBREZA) AS CIGANOS_EXTREMA_POBREZA,
        regexp_replace(REFERENCIA, '/', '-') AS DATA_REFERENCIA
    FROM VULNERABILIDADE_POBREZA
    WHERE 1=1
    GROUP BY regexp_replace(REFERENCIA, '/', '-'), POPULACAO_ESTIMADA
    ORDER BY DATA_REFERENCIA DESC
                                             
""")

df_vulnerabilidade_pobreza_final.toPandas()

,POPULACAO_ESTIMADA,INDIGENAS_EXTREMA_POBREZA,QUILOMBOLAS_EXTREMA_POBREZA,CIGANOS_EXTREMA_POBREZA,DATA_REFERENCIA
0,"213,317,639.00",137462,157444,6549,12-2021
1,"211,755,692.00",123824,135019,5923,12-2020
2,"210,147,125.00",120586,130428,5426,12-2019
3,"208,494,900.00",114609,122978,4915,12-2018
4,"207,660,929.00",112888,118041,4334,12-2017
...,...,...,...,...,...
117,"207,660,929.00",109069,112088,3670,01-2017
118,"206,114,067.00",101923,100641,3102,01-2016
119,"204,482,867.00",103890,94647,2557,01-2015
120,"202,799,518.00",95910,77806,1747,01-2014
121,"201,062,789.00",87959,60503,985,01-2013

In [9]:
df_vulnerabilidade_pobreza_final.write.format("delta").mode("overwrite").save('s3a://datalake/gold/insiders_vulnerabilidade_pobreza')

In [14]:
df = spark.read.format("delta").load('s3a://datalake/gold/insiders_vulnerabilidade_pobreza')
df.toPandas()

25/09/09 15:11:24 WARN DeltaLog: Change in the table id detected while updating snapshot.
Previous snapshot = Snapshot(path=s3a://datalake/gold/insiders_vulnerabilidade_pobreza/_delta_log, version=0, metadata=Metadata(d5cccca3-aa63-4fef-8ff5-a26cc4b7aa69,null,null,Format(parquet,Map()),{"type":"struct","fields":[{"name":"POPULACAO_ESTIMADA","type":"string","nullable":true,"metadata":{}},{"name":"INDIGENAS_EXTREMA_POBREZA","type":"long","nullable":true,"metadata":{}},{"name":"QUILOMBOLAS_EXTREMA_POBREZA","type":"long","nullable":true,"metadata":{}},{"name":"CIGANOS_EXTREMA_POBREZA","type":"long","nullable":true,"metadata":{}},{"name":"DATA_REFERENCIA","type":"string","nullable":true,"metadata":{}}]},List(),Map(),Some(1757438076954)), logSegment=LogSegment(s3a://datalake/gold/insiders_vulnerabilidade_pobreza/_delta_log,0,WrappedArray(S3AFileStatus{path=s3a://datalake/gold/insiders_vulnerabilidade_pobreza/_delta_log/00000000000000000000.json; isDirectory=false; length=1849; replication=1; blocksize=33554432; modification_time=1757438079402; access_time=0; owner=dev-exata; group=dev-exata; permission=rw-rw-rw-; isSymlink=false; hasAcl=false; isEncrypted=true; isErasureCoded=false} isEmptyDirectory=FALSE eTag=85f30b8f368a898c598b08c44577fd3a versionId=null),None,1757438079402), checksumOpt=None)
New snapshot = Snapshot(path=s3a://datalake/gold/insiders_vulnerabilidade_pobreza/_delta_log, version=0, metadata=Metadata(02a61087-db6d-4f1c-a7ea-00e8e907c0f7,null,null,Format(parquet,Map()),{"type":"struct","fields":[{"name":"POPULACAO_ESTIMADA","type":"string","nullable":true,"metadata":{}},{"name":"INDIGENAS_EXTREMA_POBREZA","type":"long","nullable":true,"metadata":{}},{"name":"QUILOMBOLAS_EXTREMA_POBREZA","type":"long","nullable":true,"metadata":{}},{"name":"CIGANOS_EXTREMA_POBREZA","type":"long","nullable":true,"metadata":{}},{"name":"DATA_REFERENCIA","type":"string","nullable":true,"metadata":{}}]},List(),Map(),Some(1757441401031)), logSegment=LogSegment(s3a://datalake/gold/insiders_vulnerabilidade_pobreza/_delta_log,0,WrappedArray(S3AFileStatus{path=s3a://datalake/gold/insiders_vulnerabilidade_pobreza/_delta_log/00000000000000000000.json; isDirectory=false; length=21829; replication=1; blocksize=33554432; modification_time=1757441418209; access_time=0; owner=dev-exata; group=dev-exata; permission=rw-rw-rw-; isSymlink=false; hasAcl=false; isEncrypted=true; isErasureCoded=false} isEmptyDirectory=FALSE eTag=24ce5c1f908fcd22bc4b8caaf2652003 versionId=null),None,1757441418209), checksumOpt=None).

,POPULACAO_ESTIMADA,INDIGENAS_EXTREMA_POBREZA,QUILOMBOLAS_EXTREMA_POBREZA,CIGANOS_EXTREMA_POBREZA,DATA_REFERENCIA
0,"202,799,518.00",105747,94670,2499,12-2014
1,"213,317,639.00",146798,169478,7124,02-2022
2,"201,062,789.00",88385,60866,1011,02-2013
3,"204,482,867.00",103467,96488,2848,07-2015
4,"211,755,692.00",120550,131387,5516,02-2020
...,...,...,...,...,...
117,"213,317,639.00",151194,174405,7382,04-2022
118,"211,755,692.00",122263,133179,5666,05-2020
119,"207,660,929.00",112166,115597,3956,05-2017
120,"193,976,530.00",87216,58018,825,09-2012
121,"202,799,518.00",103182,89702,2289,08-2014